- var baseUrl = "https://www.gmnst.com"

mixin link(path, linkText)
  - url = baseUrl + path;
  |<a href="!{url}">!{linkText}</a>


mixin header
    table(cellspacing="0" cellpadding="0" border="0" width="100%")
        tr
            td(style="font-size:18px; padding:10px;") New Order


mixin greeting
    table(cellspacing="0" cellpadding="0" border="0" width="100%")
        tr: td(style="padding:20px 0 20px 0") 
            | Order ID: 
            |
            +link(`/order-details/${transactionId}`, transactionId)


mixin details
    include includes/pink-table.pug
        table
            tr: td
                include includes/shipping-address-grid.pug
            tr: td(style="padding-top:20px")
                include includes/totals-table.pug
            

//- MARKUP

//- Pseudo Header
include includes/html-body.pug
    table(cellspacing="0" cellpadding="0" border="0" width="100%")
      tr: td(style="padding: 0 20px")
        table(cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 602px")
          tr: td(style="font-size: 0; text-align: center; padding: 16px 0; border-bottom:1px solid rgb(234,234,234);")
            +header
          tr: td
            +greeting
          tr: td
            +details