table(cellspacing="0" cellpadding="0" border="0" width="100%")
    tr: td(style="color:#777777") Ship to:
    tr: td(style="font-weight:bold") #{shipping.name}
    tr: td(style="font-weight:bold") #{shipping.address}...