table(cellspacing="0" cellpadding="0" border="0")
    tr
        td(style="padding-right:10px") Total Before Tax:
        td(style="text-align:right; vertical-align:top; font-family:monospace,monospace") #{sub_total}
    tr
        td(style="padding-right:10px") Shipping:
        td(style="text-align:right; vertical-align:top; font-family:monospace,monospace") #{shipping_total}
    tr
        td(style="padding-right:10px") Estimated Tax:
        td(style="text-align:right; vertical-align:top; font-family:monospace,monospace") #{sales_tax}
    tr
        td(style="padding-right:10px; font-weight:bold") Order Total:
        td(style="text-align:right; vertical-align:top; font-weight:bold; font-family:monospace,monospace") #{grand_total}