// borrowing flex classes from bootstrap: https://github.com/twbs/bootstrap/blob/main/dist/css/bootstrap.css

.align-items-stretch {
    align-items: stretch
}

.display-flex {
    display: flex
}

.flex-grow-1 {
    flex-grow: 1;
}
