.bbGray { border-bottom: 1px solid $borderColorGray !important }
.bgBlack { background-color: #000 !important }
.borderRed { border-color: $red !important }

.colorBlack { color: #000 !important }
.colorGreen { color: $green !important }
.colorGray { color: $gray-700 !important }
.colorGrayLighter { color: $gray-500 !important }
.colorRed { color: $red !important }
.colorOrange { color: $orange !important }
.colorWhite { color: #fff !important }
.cursorGrab { cursor: grab }
.cursorPointer { cursor: pointer }

.displayTable { display: table }
.displayTableCell { display: table-cell }
.displayTableRow { display: table-row }

.floatRight { float: right !important }
.floatLeft { float: left !important }

.hoverUnderline:hover { text-decoration: underline }

.inline { display: inline }
.inlineBlock { display: inline-block }

.lineHeight40 { line-height: 40px !important }

.fs11 { font-size: 11px !important }
.fs12 { font-size: 12px !important }
.fs14 { font-size: 14px !important }
.fs16 { font-size: 16px !important }
.fs20 { font-size: 20px !important }
.fs24 { font-size: 24px !important }
.fs30 { font-size: 30px !important }
.fwb{ font-weight:bold !important }
.fw500{ font-weight:500 !important }
.fw600{ font-weight:600 !important }

.pan { padding: 0 !important }
.pam { padding:10px !important }
.pal { padding:20px !important }
.paxl { padding:40px !important }
.pbs { padding-bottom:5px !important }
.pbm { padding-bottom:10px !important }
.pbl { padding-bottom:20px !important }
.phs { padding-left:5px !important; padding-right:5px !important }
.phm { padding-left:10px !important; padding-right:10px !important }
.phl { padding-left:20px !important; padding-right:20px !important }
.phxl { padding-left:40px !important; padding-right:40px !important }
.pls { padding-left:5px !important }
.plm { padding-left:10px !important }
.pll { padding-left:20px !important }
.prs { padding-right:5px !important }
.prm { padding-right:10px !important }
.prl { padding-right:20px !important }
.pts { padding-top:5px !important }
.ptm { padding-top:10px !important }
.ptl { padding-top:20px !important }
.ptxl { padding-top:40px !important }
.pvl { padding-top:20px !important; padding-bottom:20px !important }
.pvxl { padding-top:40px !important; padding-bottom:40px !important }

.man { margin:0 !important }
.mha { margin: 0 auto !important }
.mbs { margin-bottom:5px !important }
.mbm { margin-bottom:10px !important }
.mbl { margin-bottom:20px !important }
.mbxl { margin-bottom:40px !important }
.mts { margin-top:5px !important }
.mtm { margin-top:10px !important }
.mtl { margin-top:20px !important }
.mtxl { margin-top:40px !important }
.mrs { margin-right:5px !important }
.mrl { margin-right:20px !important }
.mrxl { margin-right:40px !important }
.mls { margin-left:5px !important }
.mlm { margin-left:10px !important }
.mvl { margin-top:20px !important; margin-bottom:20px !important }

.nowrap { white-space: nowrap !important }
.wordwrap { white-space: wordwrap !important }

.strikethrough { text-decoration: line-through }

.tac { text-align: center !important }
.tal { text-align: left !important }
.tar { text-align: right !important }

.underline { text-decoration: underline !important }
.underlineDotted { border-bottom: 1px dotted !important }
.underlineDotted:hover { text-decoration: none !important; border-bottom: 0!important; }

.vab { vertical-align: baseline !important }
.vabtm { vertical-align: bottom !important }
.vam { vertical-align: middle !important }
.vat { vertical-align: top !important }

.heightAll { height: 100% !important }
.relative { position: relative !important }
.widthAll { width: 100% !important }
.width50 { width: 50px !important }
.width75 { width: 75px !important }
.width100 { width: 100px !important }
.width125 { width: 125px !important }
.width150 { width: 150px !important }
.width200 { width: 200px !important }
.width300 { width: 300px !important }

.mono { font-family: monospace, monospace !important }

.flexGrow { flex-grow: 1 !important }
.wordBreakBreakWord { word-break: break-word }
