.fillBlack {
    fill: #000;
}

.fillBlue {
    fill: $colorBlue;
}

.fillGray {
    fill: $colorGray;
}

.fillGrayLight {
    fill: $colorGrayLighter;
}

.fillRed {
    fill: $colorRed;
}

.fillWhite {
    fill: #fff;
}

.fillLime {
    fill: #7eef47;
}

.fillGreen {
    fill: $colorGreen
}

.fillBurntOrange {
    fill: #9e0502;
}

.fillDarkBlue {
    fill: #2c4656;
}
